<div class="search_bar clearfix">
    <a href="/" class="logo fl"><img src="/static/images/logo.png"></a>
    <div class="sub_page_name fl">|&nbsp;&nbsp;&nbsp;&nbsp;购物车</div>
    <div class="search_con fr">
        <input type="text" class="input_text fl" name="" placeholder="搜索商品">
        <input type="button" class="input_btn fr" name="" value="搜索">
    </div>
</div>

<div class="total_count">全部商品种类<em>{{.totalGoodsTypeCount}}</em>件</div>
<ul class="cart_list_th clearfix">
    <li class="col01">商品名称</li>
    <li class="col02">商品单位</li>
    <li class="col03">商品价格</li>
    <li class="col04">数量</li>
    <li class="col05">小计</li>
    <li class="col06">操作</li>
</ul>
{{range .goods}}
<ul class="cart_list_td clearfix">
    <li class="col01"><input type="checkbox" name="" checked></li>
    <li class="col02"><img src="http://192.168.111.132:8888/{{.goodsSku.Image}}"></li>
    <li class="col03">{{.goodsSku.Name}}<br><em>{{.goodsSku.Price}}元/{{.goodsSku.Unite}}</em></li>
    <li class="col04">{{.goodsSku.Unite}}</li>
    <li class="col05">{{.goodsSku.Price}}元</li>
    <li class="col06">
        <div class="num_add">
            <a href="javascript:;" class="add fl">+</a>
            <input type="text" class="num_show fl" value="{{.count}}">
            <a href="javascript:;" class="minus fl">-</a>
        </div>
    </li>
    <li class="col07">{{.price}}元</li>
    <li class="col08"><a href="javascript:;">删除</a></li>
</ul>
{{end}}

<ul class="settlements">
    <li class="col01"><input type="checkbox" name="" checked=""></li>
    <li class="col02">全选</li>
    <li class="col03">合计(不含运费)：<span>¥</span><em>{{.totalPrice}}</em><br>共计<b>{{.totalGoodsCount}}</b>件商品</li>
    <li class="col04"><a href="place_order.html">去结算</a></li>
</ul>